---
import { Image } from "astro:assets";
import Skill from "./Skill.astro";

interface Project {
    title: string;
    description: string;
    urlImg: string;
    link: string;
    usedSkills: { name: string; iconUrl: string }[]; // Definimos el tipo de skills
}
interface Props {
    project: Project;
    index: number;
}


const { index, project } = Astro.props;
const { title, description, urlImg, usedSkills, link } = project;

const itShouldBeReverse = index % 2 == 0;
const className = itShouldBeReverse
    ? "w-full flex flex-col items-center md:items-start md:flex-row gap-4 md:gap-8 max-w-96 p-4 md:p-0 md:max-w-screen-md"
    : "w-full flex flex-col items-center md:items-start md:flex-row-reverse gap-4 md:gap-8 max-w-96 p-4 md:p-0 md:max-w-screen-md";
---

<div class={className}>
    <Image
        src={urlImg}
        alt="Project image"
        width="128"
        height="128"
        class="w-full object-contain object-center md:max-w-80"
    />
    <div class="flex flex-col gap-2 flex-1">
        <div class="flex flex-col">
            <h3 class="text-xl md:text-2xl lg:text-3xl font-bold">{title}</h3>
            <a href={link} class="underline text-blue-600 italic">{link}</a>
        </div>
        <div class="mt-2 flex flex-wrap gap-2">
            {usedSkills.map((usedSkill) => <Skill skill={usedSkill} />)}
        </div>
        <p class="text-pretty">{description}</p>
    </div>
</div>